<h2> Order Info </h2>
<mat-dialog-content>
    <div *ngIf="data != null; else noOrder">
        <table class="table table-striped table-dark">
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
            <tr *ngFor="let item of data.orderItem">
                <td>{{item.item.itemName}}</td>
                <td>{{item.item.itemPrice}}</td>
                <td>{{item.quantity}}</td>
                <td>${{item.subtotal}}</td>
                <td><span  id="delete"><i class="far fa-trash-alt"></i></span></td>
            </tr>

        </table>
        <table class="table table-striped table-dark">
            <tr class="bg-success">
                <th>Subtotal:</th>
                <td></td>
                <td></td>
                <td>${{data.subtotal}}</td>
            </tr>

            <tr class="bg-info">
                <th>Total:</th>
                <td></td>
                <td></td>
                <td>${{data.total}}</td>
            </tr>
        </table>

        <button class="btn btn-success" (click)="payBill()"> Pay Bill</button>
        
    </div>

</mat-dialog-content>

<ng-template #noOrder>
    <div>
        <h2>There isn't an order going on right now</h2>
        <button>Add an Order</button>
    </div>
</ng-template>