.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("src/assets/images/menu_backgroound.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-head {
  color: #0A0A0A;
  text-align: center;
  font-size: 2em;
}

table {
  background: transparent;
  border-spacing: 10px;
  border-collapse: separate;
  display: table;
  width: 100%;
}

.mat-cell {
  color: #0A0A0A;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  border-color: transparent;
}

.th-center {
  text-align: center;
  color: #0A0A0A;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
}

mat-card {
  width: 100%;
}
