.wrapper {
  background-color: #0A0A0A;
  position: sticky;
}

.navbar {
  color: #808F85;
  background: #06090D;
  width: 100%;
  margin: auto;
}

button {
  background-color: #0A0A0A;
  border-color: #808F85;
  text-align: center;
}

.nav-link {
  color: #808F85;
  font-size: 1.2em;
}

.nav-item > a:hover {
  color: #808F85;
}

.navbar-toggle {
  z-index: 3;
}

.navbar-nav > .active a {
  color: #808F85;
}

.page-header {
  color: #808F85;
  background: #0A0A0A;
}

.head {
  letter-spacing: .5rem;
  font-size: 1.5em;
}

