<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" formControlName="username" id="username">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" formControlName="name" id="name">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" formControlName="email" id="email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" formControlName="password" id="password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="adminRegister" [(ngModel)]="isAdmin"
           [ngModelOptions]="{standalone: true}">
    <label class="form-check-label" for="adminRegister">Admin</label>
  </div>
  <button type="submit" class="btn custom-button">Register</button>
</form>
