<!--SEAT OPTIONS-->
<div>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Seat Options
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="canvas.selectedSeat != null; else noSelectedBlock">
            <form [formGroup]="adminFormGroup" (ngSubmit)="submitAdminSeatUpdate()">

                <div class="form-group">
                    <label for="adminSeatId">Seat Id</label>
                    <input formControlName="adminSeatId" type="number" class="form-control" id="adminSeatId"
                        placeholder="{{canvas.selectedSeat.id}}">
                </div>

                <div class="form-group">
                    <label for="adminSeatCapacity">Seat Capacity</label>
                    <input formControlName="adminSeatCapacity" type="number" class="form-control" id="adminSeatCapacity"
                        placeholder="{{canvas.selectedSeat.capacity}}">
                </div>


                <div class="form-group">
                    <label for="adminSeatStatus">Seat Status</label>
                    <select formControlName="adminSeatStatus" class="form-control">
                        <option [ngValue]="null" disabled> {{canvas.selectedSeat.cleanStatus}}</option>
                        <option *ngFor="let s of statusOptions" [ngValue]="s">{{s}}</option>
                    </select>
                </div>

                <div id="position-group">
                    <p>Position</p>
                    <div class="form-group">
                        <label for="adminXRange">X-axis</label>
                        <!--<input formControlName="adminXRange" type="number" class="form-control" id="adminXRange"
              placeholder="{{selectedSeat.xPos}}"> -->
                        <input formControlName="adminXRange" type="range" class="slider" id="adminXRange" min="0"
                            max="{{canvas.width}}" value="{{canvas.selectedSeat.xPos}}" (change)="sliderCheck()">
                        <p>X = <span id="x-lab">{{canvas.selectedSeat.xPos}}</span></p>


                    </div>
                    <div class="form-group">
                        <label for="adminYRange">Y-axis</label>
                        <!--<input formControlName="adminYRange" type="number" class="form-control" id="adminYRange"
              placeholder="{{selectedSeat.yPos}}">-->
                        <input formControlName="adminYRange" type="range" class="slider" id="adminYRange" min="0"
                            max="{{canvas.length}}" value="{{canvas.selectedSeat.yPos}}" (change)="sliderCheck()">
                        <p>Y = <span id="y-lab">{{canvas.selectedSeat.yPos}}</span></p>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary btn-sm">Submit</button>


            </form>


        </div>
        

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
               Order
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="canvas.selectedSeat != null; then orderDisplay ">

        </div>
        <!--Insert Dialog box-->

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Reservations
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Coming soon...</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Restaurant Layout Options
            </mat-panel-title>
        </mat-expansion-panel-header>
        <br> 
        <button id="add-seat-btn" (click)="addNew()" type="button" class="btn btn-primary"> Add a seat </button>
        <br>
        <button>Choose Layouts</button>
        <br>
        <button>Create Layout</button>
        <br>
        <button id="delete-seat-btn" type="button" class="btn btn-danger ">Delete a seat</button>
        
    </mat-expansion-panel>
</div>
<ng-template #noSelectedBlock>
    <h3> Please select a seat</h3>
</ng-template>

<ng-template #orderDisplay>
    <h2> Items </h2>
    <div id= "items">
        <ul>
           <li>Item</li> 
        </ul>
    </div> 
    <button id="add-order-btn" class= "btn btn-outline-primary btn-sm">Add Item</button>
    <button id= "delete-order-btn" class= "btn btn-outline-danger btn-sm" >Delete Item</button>

    <h2> Subtotal: </h2>
    <div id="subtotal"></div>
    <h2> Total: </h2>
    <div id="total"></div>
    <button id="pay-order-btn" class= "btn btn-success btn-sm">Pay</button>
    <br>
    <button id= "other-order-btn" class= "btn btn-secondary btn-sm" >More...</button>

    
    
    
</ng-template>