<!--SEAT OPTIONS-->
<div>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Seat Options
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="canvas.selectedSeat != null; else noSelectedBlock">
            <form [formGroup]="adminFormGroup" (ngSubmit)="submitAdminSeatUpdate()">

                <div class="form-group">
                    <label for="adminSeatId">Seat Id</label>
                    <input formControlName="adminSeatId" type="number" class="form-control" id="adminSeatId"
                        placeholder="{{canvas.selectedSeat.id}}">
                </div>

                <div class="form-group">
                    <label for="adminSeatCapacity">Seat Capacity</label>
                    <input formControlName="adminSeatCapacity" type="number" class="form-control" id="adminSeatCapacity"
                        placeholder="{{canvas.selectedSeat.capacity}}">
                </div>


                <div class="form-group">
                    <label for="adminSeatStatus">Seat Status</label>
                    <select formControlName="adminSeatStatus" class="form-control">
                        <option [ngValue]="null" disabled> {{canvas.selectedSeat.cleanStatus}}</option>
                        <option *ngFor="let s of statusOptions" [ngValue]="s">{{s}}</option>
                    </select>
                </div>

                <div id="position-group">
                    <p>Position</p>
                    <div class="form-group">
                        <label for="adminXRange">X-axis</label>
                        <!--<input formControlName="adminXRange" type="number" class="form-control" id="adminXRange"
              placeholder="{{selectedSeat.xPos}}"> -->
                        <input formControlName="adminXRange" type="range" class="slider" id="adminXRange" min="0"
                            max="{{canvas.width}}" value="{{canvas.selectedSeat.xPos}}" (change)="sliderCheck()">
                        <p>X = <span id="x-lab">{{canvas.selectedSeat.xPos}}</span></p>


                    </div>
                    <div class="form-group">
                        <label for="adminYRange">Y-axis</label>
                        <!--<input formControlName="adminYRange" type="number" class="form-control" id="adminYRange"
              placeholder="{{selectedSeat.yPos}}">-->
                        <input formControlName="adminYRange" type="range" class="slider" id="adminYRange" min="0"
                            max="{{canvas.length}}" value="{{canvas.selectedSeat.yPos}}" (change)="sliderCheck()">
                        <p>Y = <span id="y-lab">{{canvas.selectedSeat.yPos}}</span></p>
                    </div>
                </div>


                <button type="submit">Submit</button>


            </form>


        </div>
        <button type="button" class="btn btn-primary"> Add a seat </button>

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Menu Options
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Coming soon...</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Reservations
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Coming soon...</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Restaurant Layout Options
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Coming soon...</p>
    </mat-expansion-panel>
</div>
<ng-template #noSelectedBlock>
    <h3> Please select a seat</h3>
</ng-template>